body {
	background-color: #569AC7;
	background-image: url("saltire.jpg");
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	text-align: center;
}
h1 {
	font-family: Georgia, serif;
	color: #569AC7;
	background-color: yellow;
	display: inline-block;
	border: 5px solid magenta;
	border-radius: 5px;
	font-size: 10vh;
}
p {
	font-family: Helvetica, sans-serif;
	color: magenta;
	background-color: yellow;
	border: 5px solid #569AC7;
	border-radius: 5px;
	display: inline-block;
}
a {
	color: red;
}
